<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="JobStalker" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="JobStalker" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="JobStalker" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="JobStalker" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Job stalker net - The ultimate place to find your ultimate job </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!--favicon-->
    <link rel="apple-touch-icon" href="assets/theme/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="assets/theme/images/favicon.ico" type="image/x-icon">
    <link href="assets/plugins/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link href="assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="assets/theme/css/theme.css" rel="stylesheet">
    <link href="assets/theme/css/theme-custom.css" rel="stylesheet">

</head>
<body>
<div class="wrapper">

    <header class="main-header">

        <nav class="navbar navbar-default main-navbar hidden-sm hidden-xs">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li class=""><a ui-sref="app.main"><strong>Find a Job</strong></a></li>
                   <!--     <li class=""><a><strong>Find Resumes</strong></a></li>
                        <li class=""><a><strong>Post a Job</strong></a></li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="link-btn"><a ui-sref="app.login"><span class="btn btn-theme btn-pill btn-xs btn-line">Login</span></a>
                        </li>
                      </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <nav class="mobile-nav hidden-md hidden-lg">
                <a ng-click="vm.showNav=true" class="btn-nav-toogle first">
                    <span class="bars"></span>
                    Menu
                </a>
                <div class="mobile-nav-block" ng-if="vm.showNav" ng-class="vm.showNav?'open-mobile-nav': ''">
                    <h4>Navigation</h4>
                    <a ng-click="vm.showNav=false" class="btn-nav-toogle">
                        <span class="barsclose"></span>
                        Close
                    </a>

                    <ul class="nav navbar-nav">
                        <li><a ui-sref="app.main" ng-click="vm.showNav=false"><strong>Find a Job</strong></a></li>
                        <!--<li class=""><a href="resume_list.html"><strong>Find Resumes</strong></a></li>
                        <li class=""><a href="job_post_1.html"><strong>Post a Job</strong></a></li>-->
                        <li><a ui-sref="app.login" ng-click="vm.showNav=false"><strong>Login</strong></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div ui-view="header"></div>
        <!--        <job-search ng-if="vm.heroHeaderSearch"></job-search>
                <header-search ng-if="vm.normalHeaderSearch"></header-search>
        -->
    </header>

    <div ui-view=""></div>

    <!-- main-footer -->
    <footer class="main-footer">


        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline link-footer text-center-xs">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="https://cortech.wufoo.com/forms/request-more-info-from-cortech/" target="_blank">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 ">
                    <p class="text-center-xs hidden-lg hidden-md hidden-sm">Stay Connect</p>
                    <div class="socials text-right text-center-xs">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- end main-footer -->

</div><!-- end wrapper page -->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

<script src="app.js"></script>
<script src="routes.js"></script>

<script src="constants/ApiPoint.js"></script>
<script src="services/services.module.js"></script>
<script src="services/search.srv.js"></script>
<script src="services/searchResultHandler.srv.js"></script>
<script src="services/jobDetails.srv.js"></script>
<script src="services/auth.srv.js"></script>

<script src="components/search/search.module.js"></script>
<script src="components/search/googlePlaceSearch.drv.js"></script>
<script src="components/search/advanceSearch.drv.js"></script>
<script src="components/search/jobListFilter.drv.js"></script>

<script src="main/main.module.js"></script>
<script src="main/main.js"></script>
<script src="main/jobList.js"></script>
<script src="main/jobDetails.js"></script>
<script src="main/search.js"></script>
<script src="main/searchTop.js"></script>
<script src="main/login.js"></script>
<script src="main/forgotPassword.js"></script>

<!-- Theme JS -->
<script src="assets/theme/js/theme.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGH_d1iqnLehpbi-xu5vBYcs0FCDLHUv4&libraries=places&language=en&v=3"
        async defer></script>


</body>
</html>
