<div class="body-content clearfix">

    <div class="block-section bg-color4">
        <div class="container">
            <div class="panel panel-md">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="alert-danger padding-sides-10" ng-if="vm.error">{{vm.error}}</div>
                                <div class="alert-success padding-sides-10" ng-if="vm.success">We have sent you an email with your user information. </div>
                            </div>
                            <div class="form-group">
                                <h1 class="text-center border-bottom-divider">Retrieve Password</h1>
                            </div>
                            <form role="form" name="forgetPwdForm" ng-submit="vm.retrievePassword()" novalidate>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control"
                                           name="email" ng-model="vm.email" placeholder="Your email" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">

                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <p class="help-block"><a ng-click=""></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group no-margin">
                                    <button class="btn btn-theme btn-lg btn-t-primary btn-block"
                                            ng-disabled="forgetPwdForm.$invalid"
                                            type="submit">Find it</button>
                                </div>
                            </form><!-- form login -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>
            <div class="white-space-20"></div>

        </div>
    </div>

</div>