<!-- body-content -->
<div class="body-content clearfix" >

    <!-- link top -->
    <div class="bg-color2 block-section-xs line-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div>Job details :</div>
                </div>
                <div class="col-sm-6">
                    <div class="text-right"><a href="#">&laquo; Go back to job listings</a></div>
                </div>
            </div>
        </div>
    </div><!-- end link top -->

    <div class="bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <!-- box item details -->
                    <div class="box-item-details">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>{{vm.data.companyName}}</h3>
                            </div>
                            <div class="col-md-4">
                                <p class="text-right"></p>
                            </div>
                        </div>

                        <h2 class="title"><a ng-click="">{{vm.data.jobTitle}}</a></h2>

                        <div class="job-meta">
                            <ul class="list-inline">
                                <li ng-if="vm.data.jobType || vm.data.contractLength">
                                    <i class="fa fa-briefcase"></i> {{vm.data.jobType}} {{vm.data.contractLength}}
                                </li>
                                <li><i class="fa fa-map-marker"></i> {{vm.data.location || "Unspecified"}}</li>
                                <li><i class="fa fa-money"></i> {{vm.data.salaryRange || "Unspecified"}}</li>
                                <li><i class="fa fa-car"></i> {{vm.data.travelPercentage || "None"}}</li>
                            </ul>
                        </div>
                        <p><strong>Location</strong>: {{vm.data.location || "Unspecified"}}
                        </p>
                        <p><strong>Type</strong>: {{vm.data.jobType || "Unspecified"}}
                        </p>
                        <p ng-if="vm.data.contractLength"><strong>Contract Length</strong>: {{vm.data.contractLength || "Unspecified"}}
                        </p>
                        <p><strong>Salary Range</strong>: {{vm.data.salaryRange || "Unspecified"}}
                        </p>
                        <p><strong>Travel</strong>: {{vm.data.travelPercentage || "None"}}
                        </p>

                        <h4>Description:</h4>
                        <p>
                            {{vm.data.jobDescription}}
                        </p>

                        <h4 ng-if="vm.data.requiredSkills">Skills Required:</h4>
                        <p>
                            {{vm.data.requiredSkills}}
                        </p>
                        <h4  ng-if="vm.data.desiredSkills">Skills Desired</h4>
                        <p>{{vm.data.desiredSkills || "TBD"}}</p>
                        <p>&nbsp;</p>
                    </div><!-- end box item details -->

                </div>
                <div class="col-md-3">

                    <!-- box affix right -->
                    <div class="block-section ">
                        <div class="text-right">
                            <p><button ng-click="" class="btn btn-theme btn-t-primary btn-block-xs">Contact Us</button></p>
                            <p><a target="_blank" href="http://jobstalker.net/SubmitResume.aspx?jobID={{vm.data.id}}&utm_source=Monster"  class="btn btn-theme btn-t-primary btn-block-xs">Apply This Job</a></p>
                        </div>
                    </div><!-- box affix right -->

                </div>
            </div>
        </div>
    </div>

</div><!--end body-content -->

