<!-- body-content -->
<div class="body-content clearfix">

    <div class="bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <!-- box listing -->
                    <div class="block-section-sm box-list-area">

                        <!-- desc top -->
                        <div class="row hidden-xs">
                            <div class="col-sm-6  ">
                                <p><strong class="color-black">Jobs</strong></p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
                                    Jobs {{vm.pagination.start}} to {{vm.pagination.end}} of {{vm.pagination.total}}
                                </p>
                            </div>
                        </div><!-- end desc top -->

                        <!-- item list -->
                        <div class="box-list">
                            <div class="item" ng-repeat="item in vm.jobs">
                                <div class="row">
                                    <div class="col-md-1 hidden-sm hidden-xs">
                                        <div class="img-item">
                                            <img ng-src="./assets/theme/images/company-logo/{{item.imgSrc}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-11">

                                        <h3 class="no-margin-top clearfix">
                                            <a ng-if="item.url" href="{{item.url}}" target="_blank">
                                                {{item.title}}
                                                <i class="fa fa-link color-white-mute font-1x"></i></a>
                                            </a>
                                            <a ng-if="!item.url" ui-sref="app.jobdetails({id: item.id})">
                                                {{item.title}}
                                                <i class="fa fa-link color-white-mute font-1x"></i>
                                            </a>
                                        </h3>
                                        <h5><span class="color-black">{{item.company}}</span> -
                                            <span class="color-white-mute">{{item.location}}</span></h5>
                                        <p class="text-truncate" ng-if="item.desc">{{item.desc}}</p>
                                    </div>
                                </div>
                            </div><!-- end item list -->
                        </div>


                        <!-- pagination -->
                        <div class="row" ng-show="vm.pagination.total>vm.pagination.size">
                            <div class="col-xs-12">
                                <ul uib-pagination
                                    total-items="vm.pagination.total"
                                    ng-model="vm.pagination.current"
                                    max-size="10"
                                    force-ellipses="true"
                                    rotate="true"></ul>
                            </div>
                        </div>
                        <!-- pagination -->

                    </div><!-- end box listing -->


                </div>
                <div class="col-md-3">
                    <div class="block-section-sm side-right">
                        <div class="row">
                            <div class="col-xs-6">
                                <p><strong>Sort by: </strong></p>
                            </div>
                            <div class="col-xs-6">
                                <p class="text-right">
                                    <strong>Relevance</strong>
                                </p>
                            </div>
                        </div>

                        <div class="result-filter">
                            <div ng-repeat="group in vm.groups">
                                <job-list-filter groups="group.group" group-name="{{group.name}}"></job-list-filter>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div><!--end body-content -->
