<div class="relative">
    <div class="form-search-home" method="post" action="job_list.html">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>What</label>
                    <input class="form-control  input-lg"
                           placeholder="job title, keywords or company name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Where {{vm.place}}</label>

                    <google-place-search ng-model="vm.fullAddress" place="vm.place" zip="vm.model.zipcode"
                                         country="vm.model.country" state="vm.model.state" city="vm.model.city"
                                         address1="vm.model.address_1"></google-place-search>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-t-primary btn-lg btn-theme btn-pill btn-block">Find a Jobs
            </button>
        </div>
        <div class="text-center">
            <advance-search></advance-search>
        </div>
    </div>
</div>